pycache/
.py[cod]
.pyo
.pyd
.pytest_cache/
venv/
env/
.venv/
.ipynb_checkpoints/
.ipynb/
data/raw/
data/cleaned/
data/formatted/
.DS_Store
tf_env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/

# pyenv
.python-version

# IDEs
.vscode/
.idea/

# Nextcloud sync (if you ever see a .sync/ folder)
.sync/

# macOS extras
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Ignore large LSTM artifacts
/lstm/

# Ignore image and data artifacts
*.png
*.parquet
/data/output/
