
# Environment variables
.env

# Python / build / runtime
pycache/
src/__pycache__/*
__pycache__
.py[cod]
.pyo
.pyd
.pytest_cache/
venv/
env/
.venv/
.ipynb_checkpoints/
.ipynb/
.DS_Store
tf_env/
._.DS_Store
._*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
logs/* 

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/

# pyenv
.python-version

# IDEs
.vscode/
.idea/

# Nextcloud sync (if you ever see a .sync/ folder)
.sync/

# macOS extras
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
